* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
h1 {
    color: black;
    font-size: 2rem;
}

.header-img {
    position: relative;
    z-index: 5;
}

.header-img img {
    width: 100%;
    height: 800px;
}

.header-img-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* end header */

/* content */
.top-content-title {
    text-align: center;
    width: 50%;
    margin: 25px 50%;
    transform: translateX(-50%);
}

/* end content */