.product-menu .menu-item {
    padding: 15px;
    cursor: pointer;
    font-size: 1.1rem;
    user-select: none;
}

.product-menu .menu-item:hover {
    background-color: rgb(240, 240, 240);
}

.menu-dropdown {
    display: none;
}

.menu-item:hover .menu-dropdown {
    display: block;
}